<div class="mdl-grid items">
  <div class="mdl-cell mdl-cell--12-col">
    <router-outlet></router-outlet>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <app-widgets-list [widgets]="widgets"
                    (selected)="selectWidget($event)"
                    (deleted)="deleteWidget($event)"
                    (featured)="setWidgetAsFeatured($event)">
    </app-widgets-list>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <app-widget-detail [widget]="selectedWidget">
      Select a Widget
    </app-widget-detail>
  </div>
</div>
